<article>
    <header>CSS Problem</header>
    <p>
        CSS problem: Select &lt;option&gt; text can expand beyond css max-width settings. This causes a &lt;select&gt; input element to become longer than we want. Select elements are not responsive so this behaviour can break user interfaces.
    </p>
    <p>
        See this example where the "260 pixels wide" block shows what the width of the &lt;selection&gt; element should reach at maximum:
    </p>
    <div style="max-width:260px;border:10px solid #ccc;background-colour:#ccc;padding:0 10px;">
        <p>
            260 pixel wide container
        </p>
        <p>
            <select style="max-width:350px;">
                <option value="0" disabled>Please select an item</option>
                <option title="Short item text" value="1">Short item text</option>
                <option title="Long item text that is too long to fit inside a select option" value="2">Long item text that is too long to fit inside a select option</option>
                <option title="Short item text" value="3">Short item text</option>
            </select>
        </p>
    </div>
    <p>
        Pure Javascript solution: We could use javascript or jquery to check if the length of string goes beyond number of characters then, truncate. It helps to show where text was truncated by prepending or appending ellipsis (...).
    </p>
</article>
